/*
Gutenberg: Web Typography Starter Kit
Website ....... http://matejlatin.github.io/Gutenberg/
Version ....... 1.1
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... https://raw.githubusercontent.com/matejlatin/Gutenberg/master/license.txt
*/
/* Configuration
   ========================================================================== */
/* Calculations
   ========================================================================== */
/* Font themes
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
@media screen and (min-width: 105% em) {
  .floatLeft {
    float: left; } }

@media screen and (min-width: 105% em) {
  .floatCenter {
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 105% em) {
  .floatRight {
    float: right; } }

/* Grid
   ========================================================================== */
.grid, .grid-double {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% 30px;
  background-size: 100% 1.63043rem; }
  @media screen and (min-width: 105% em) {
    .grid, .grid-double {
      background-size: 100% 34px;
      background-size: 100% 1.7rem; } }

.grid-double {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px, transparent 15px, rgba(0, 170, 255, 0.2) 15px, transparent 16px, transparent 30px); }
  @media screen and (min-width: 105% em) {
    .grid-double {
      background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px, transparent 17px, rgba(0, 170, 255, 0.2) 17px, transparent 18px, transparent 34px); } }

.toggleWrapper {
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: #231F20;
  border-radius: 25px;
  padding: 0 10px 0 20px;
  height: 32px; }
  @media screen and (min-width: 105% em) {
    .toggleWrapper {
      right: 34px;
      top: 34px; } }

.btnToggleGrid {
  background: url("../../assets/images/grid-icons.png") top right no-repeat;
  background-size: 32px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding-right: 35px;
  height: 32px;
  line-height: 34px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff; }
  @media screen and (min-width: 105% em) {
    .btnToggleGrid {
      top: 34px;
      right: 34px; } }
  .btnToggleGrid:hover {
    color: #fff; }
  .btnToggleGrid:active {
    color: #f00; }

.double-grid {
  background-position-y: -32px; }

.grid-off {
  background-position-y: -64px; }

aside {
  display: block; }

/* Defaults
   ========================================================================== */
@media screen and (min-width: 105% em) {
  body,
  html {
    margin: 0;
    width: 100%;
    max-width: none; } }

html {
  box-sizing: border-box;
  font-size: 18.4px;
  font-size: 115%;
  font-family: Merriweather, Georgia, serif;
  color: #444;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  @media screen and (min-width: 105% em) {
    html {
      font-size: 20px;
      font-size: 1.25rem; } }

* {
  line-height: 30px;
  line-height: 1.63043rem;
  margin: 0px 0px 30px;
  margin: 0rem 0rem 1.63043rem; }
  @media screen and (min-width: 105% em) {
    * {
      line-height: 34px;
      line-height: 1.7rem;
      margin-bottom: 34px;
      margin-bottom: 1.7rem;
      max-width: 2000%px;
      max-width: 100%rem;
      margin-left: auto;
      margin-right: auto; } }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0; }

footer {
  display: block; }
  body > footer {
    margin: 0 auto;
    width: 80%; }

header {
  display: block; }

main {
  display: block; }

section {
  display: block; }

/* Links
   ========================================================================== */
a {
  background: transparent;
  color: #444;
  transition: all .3s; }
  a:active, a:hover {
    outline: 0; }
  a:hover {
    color: #444; }
  a:visited {
    color: #888; }
    a:visited:hover {
      color: #444; }
  a:active {
    color: #f00; }

article {
  display: block;
  margin: 0 auto;
  width: 80%; }
  @media screen and (min-width: 105% em) {
    article {
      max-width: 3000%px;
      max-width: 150%rem; } }

audio {
  display: inline-block;
  vertical-align: baseline; }
  audio:not([controls]) {
    display: none;
    height: 0; }

canvas {
  display: inline-block;
  vertical-align: baseline; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

code {
  padding: 30px;
  padding: 1.63043rem;
  display: block; }
  @media screen and (min-width: 105% em) {
    code {
      padding: 34px;
      padding: 1.7rem; } }

details {
  display: block; }

summary {
  display: block; }

figcaption {
  line-height: 30px;
  line-height: 1.63043rem;
  color: #444;
  display: block;
  font-size: .8125rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center; }
  @media screen and (min-width: 105% em) {
    figcaption {
      line-height: 34px;
      line-height: 1.7rem;
      margin-bottom: 0; } }

figure {
  display: block; }

@media screen and (min-width: 105% em) {
  figure.floatLeft,
  figure.floatRight {
    max-width: 1000%px;
    max-width: 50%rem;
    padding: 0px 34px;
    padding: 0rem 1.7rem; } }

@media screen and (min-width: 105% em) {
  figure.floatLeft blockquote,
  figure.floatRight blockquote {
    padding: 0px;
    padding: 0rem;
    text-align: left; } }

@media screen and (min-width: 105% em) {
  figure.floatLeft blockquote p,
  figure.floatRight blockquote p {
    font-size: 22.08px;
    font-size: 1.2rem;
    line-height: 34px;
    line-height: 1.7rem; } }

/* Headings
   ========================================================================== */
h1 {
  font-size: 46px;
  font-size: 2.5rem;
  line-height: 60px;
  line-height: 3.26087rem;
  margin-top: 120px;
  margin-top: 6.52174rem;
  margin-bottom: 30px;
  margin-bottom: 1.63043rem; }

h2 {
  font-size: 31.05px;
  font-size: 1.6875rem;
  line-height: 45px;
  line-height: 2.44565rem;
  margin-top: 75px;
  margin-top: 4.07609rem;
  margin-bottom: 15px;
  margin-bottom: 0.81522rem; }

h3 {
  font-size: 25.3px;
  font-size: 1.375rem;
  line-height: 30px;
  line-height: 1.63043rem;
  margin-top: 60px;
  margin-top: 3.26087rem;
  margin-bottom: 15px;
  margin-bottom: 0.81522rem; }

h4 {
  font-size: 22.08px;
  font-size: 1.2rem;
  line-height: 30px;
  line-height: 1.63043rem;
  margin-top: 45px;
  margin-top: 2.44565rem;
  margin-bottom: 15px;
  margin-bottom: 0.81522rem; }

h5 {
  font-size: 18.4px;
  font-size: 1rem;
  line-height: 30px;
  line-height: 1.63043rem;
  margin-top: 75px;
  margin-top: 4.07609rem;
  margin-bottom: 15px;
  margin-bottom: 0.81522rem; }

h6 {
  font-size: 18.4px;
  font-size: 1rem;
  line-height: 30px;
  line-height: 1.63043rem;
  margin-top: 75px;
  margin-top: 4.07609rem;
  margin-bottom: 15px;
  margin-bottom: 0.81522rem; }

@media screen and (min-width: 105% em) {
  h1 {
    font-size: 46px;
    font-size: 2.5rem;
    line-height: 68px;
    line-height: 3.4rem;
    margin-top: 136px;
    margin-top: 6.8rem;
    margin-bottom: 34px;
    margin-bottom: 1.7rem; }
  h2 {
    font-size: 31.05px;
    font-size: 1.6875rem;
    line-height: 51px;
    line-height: 2.55rem;
    margin-top: 85px;
    margin-top: 4.25rem;
    margin-bottom: 17px;
    margin-bottom: 0.85rem; }
  h3 {
    font-size: 25.3px;
    font-size: 1.375rem;
    line-height: 34px;
    line-height: 1.7rem;
    margin-top: 68px;
    margin-top: 3.4rem;
    margin-bottom: 17px;
    margin-bottom: 0.85rem; }
  h4 {
    font-size: 22.08px;
    font-size: 1.2rem;
    line-height: 34px;
    line-height: 1.7rem;
    margin-top: 51px;
    margin-top: 2.55rem;
    margin-bottom: 17px;
    margin-bottom: 0.85rem; }
  h5 {
    font-size: 18.4px;
    font-size: 1rem;
    line-height: 34px;
    line-height: 1.7rem;
    margin-top: 85px;
    margin-top: 4.25rem;
    margin-bottom: 17px;
    margin-bottom: 0.85rem; }
  h6 {
    font-size: 18.4px;
    font-size: 1rem;
    line-height: 34px;
    line-height: 1.7rem;
    margin-top: 85px;
    margin-top: 4.25rem;
    margin-bottom: 17px;
    margin-bottom: 0.85rem; } }

h1 + h2 {
  margin-top: 30px;
  margin-top: 1.63043rem; }
  @media screen and (min-width: 105% em) {
    h1 + h2 {
      margin-top: 34px;
      margin-top: 1.7rem; } }

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 15px;
  margin-top: 0.81522rem; }
  @media screen and (min-width: 105% em) {
    h2 + h3,
    h3 + h4,
    h4 + h5 {
      margin-top: 17px;
      margin-top: 0.85rem; } }

h5 + h6 {
  margin-top: -15px;
  margin-top: -0.81522rem; }
  @media screen and (min-width: 105% em) {
    h5 + h6 {
      margin-top: -17px;
      margin-top: -0.85rem; } }

h6 {
  font-style: italic;
  font-weight: normal; }

hgroup {
  display: block; }

hr {
  margin-top: 60px;
  margin-top: 3.26087rem;
  margin-bottom: 60px;
  margin-bottom: 3.26087rem;
  box-sizing: content-box;
  border: 0;
  color: #444;
  display: block;
  height: 30px;
  height: 1.63043rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 30px;
  background-size: 100% 1.63043rem;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 13px, #444 13px, #444 17px, transparent 17px, transparent 30px);
  width: 100px; }
  @media screen and (min-width: 105% em) {
    hr {
      margin-top: 68px;
      margin-top: 3.4rem;
      margin-bottom: 68px;
      margin-bottom: 3.4rem;
      height: 34px;
      height: 1.7rem; } }
  @media screen and (min-width: 105% em) {
    hr {
      background-size: 100% 34px;
      background-size: 100% 1.7rem;
      background-image: linear-gradient(to bottom, transparent 1px, transparent 15px, #444 15px, #444 19px, transparent 19px, transparent 34px); } }

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto; }

svg:not(:root) {
  overflow: hidden; }

ul li,
ol li {
  margin-bottom: 0; }

nav {
  display: block; }

progress {
  display: inline-block;
  vertical-align: baseline; }

blockquote {
  font-style: italic;
  padding-left: 1.4375rem; }
  @media screen and (min-width: 105% em) {
    blockquote {
      padding-left: 2rem; } }

cite {
  display: block;
  font-style: normal; }

figure blockquote {
  padding: 30px 0px;
  padding: 1.63043rem 0rem; }
  @media screen and (min-width: 105% em) {
    figure blockquote {
      padding: 68px 0px 34px;
      padding: 3.4rem 0rem 1.7rem;
      text-align: center; } }
  figure blockquote p {
    font-size: 31.05px;
    font-size: 1.6875rem;
    line-height: 45px;
    line-height: 2.44565rem; }
    @media screen and (min-width: 105% em) {
      figure blockquote p {
        font-size: 31.05px;
        font-size: 1.6875rem;
        line-height: 51px;
        line-height: 2.55rem; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

[hidden],
template {
  display: none; }

br {
  margin-bottom: 0; }

abbr {
  letter-spacing: 0.1em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

mark {
  background: #ff0;
  color: #000; }

small {
  line-height: 15px;
  line-height: 0.81522rem;
  font-size: 70%; }
  @media screen and (min-width: 105% em) {
    small {
      line-height: 17px;
      line-height: 0.85rem; } }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Paragraph
========================================================================== */
.attention-grabber {
  font-size: 22.08px;
  font-size: 1.2rem; }

.alignLeft {
  text-align: left; }

.alignCenter {
  text-align: center; }

.alignRight {
  text-align: right; }

.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase; }

video {
  display: inline-block;
  vertical-align: baseline; }

/* TODOs:
 - some line heights produce margins with .5 results, seemingly breaking the gird (?),
 - table + side comments elements,
 - translate to Less and Stylus.
 */
strong {
  font-weight: 700; }

em {
  font-style: italic; }

.monolink, .project-card .project-card__links a {
  color: #777777; }
  .monolink:visited, .project-card .project-card__links a:visited {
    color: #848484; }
  .monolink:hover, .project-card .project-card__links a:hover {
    color: #5e5e5e; }
  .monolink:active, .project-card .project-card__links a:active {
    color: #444444; }

.container {
  max-width: 1024px;
  margin: 3em auto 0;
  padding: 0 1.5em; }
  .container.container--large {
    max-width: 1280px; }

.tag-list {
  margin: 0;
  padding: 0; }

.tag {
  display: inline-block;
  margin: 0 .5em .5em 0;
  padding: .5em .750em;
  min-width: 50px;
  border-radius: 5px;
  font-size: .9em;
  line-height: 1em;
  font-family: "Inconsolata";
  text-align: center;
  color: #8daed9;
  background: #d9e4f3; }
  .tag:last-of-type {
    margin-right: 0; }

figure {
  font-size: .5em; }
  figure img {
    margin: 0 auto; }
    figure img.img--5 {
      width: 5%; }
    figure img.img--10 {
      width: 10%; }
    figure img.img--15 {
      width: 15%; }
    figure img.img--20 {
      width: 20%; }
    figure img.img--25 {
      width: 25%; }
    figure img.img--30 {
      width: 30%; }
    figure img.img--35 {
      width: 35%; }
    figure img.img--40 {
      width: 40%; }
    figure img.img--45 {
      width: 45%; }
    figure img.img--50 {
      width: 50%; }
    figure img.img--55 {
      width: 55%; }
    figure img.img--60 {
      width: 60%; }
    figure img.img--65 {
      width: 65%; }
    figure img.img--70 {
      width: 70%; }
    figure img.img--75 {
      width: 75%; }
    figure img.img--80 {
      width: 80%; }
    figure img.img--85 {
      width: 85%; }
    figure img.img--90 {
      width: 90%; }
    figure img.img--95 {
      width: 95%; }
    figure img.img--100 {
      width: 100%; }

.mega-brand {
  position: relative;
  margin: 0;
  padding: 2em;
  width: 100%;
  max-width: none;
  height: 560px;
  min-height: 10em;
  overflow: hidden; }
  .mega-brand * {
    margin: 0; }
  .mega-brand .mega-brand__container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .mega-brand .mega-brand__header {
    text-align: center; }
    .mega-brand .mega-brand__header h1 {
      margin: .5em 0 0;
      font-size: 2.5em;
      font-family: 'Pacifico';
      font-weight: 300;
      white-space: nowrap; }

#avatar {
  width: 7em;
  height: 7em;
  margin: 0 auto;
  border-radius: 1em; }

#tagline {
  display: inline-block;
  padding: 0;
  margin: .5em 0 0;
  font-size: 1.5em;
  line-height: 1em; }

#tagline-comments {
  display: none;
  margin: .5em 0 0;
  font-family: monospace;
  font-size: 1.5em; }

@keyframes blink {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  50% {
    opacity: 0; }
  95% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.typingjs__caret {
  animation: blink 1s linear 0s infinite; }

ul.social {
  list-style: none;
  margin: .5em 0 0;
  padding: 0; }
  ul.social li {
    display: inline-block;
    margin-right: 1.5em;
    white-space: nowrap; }
    ul.social li a, ul.social li a:visited {
      color: #444; }

#footer {
  margin-top: 3em;
  padding: 1.5em 0;
  text-align: center;
  font-family: "Lato";
  font-style: italic; }

html, body {
  margin: 0;
  padding: 0; }

.home .container {
  margin-top: 0; }

nav[role="navigation"] {
  max-width: none;
  margin: 0;
  border-bottom: 1px solid #ebebeb; }
  nav[role="navigation"]:after {
    content: "";
    display: table;
    clear: both; }
  nav[role="navigation"] * {
    margin: 0;
    padding: 0; }
  nav[role="navigation"] ul, nav[role="navigation"] li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0; }
  nav[role="navigation"] .nav__brand {
    float: left;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 0.5em;
    font-family: 'Pacifico';
    text-decoration: none;
    color: #444; }
  nav[role="navigation"] .nav__list {
    float: right;
    margin-right: 2em; }
    nav[role="navigation"] .nav__list a.nav__list__item {
      position: relative;
      display: inline-block;
      line-height: 1.25em;
      padding: 1.25em 1em;
      font-family: "Lato";
      text-decoration: none;
      color: #d6d6d6;
      transition: color 0.125s; }
      nav[role="navigation"] .nav__list a.nav__list__item:hover {
        color: #bdbdbd; }
    nav[role="navigation"] .nav__list a.nav__list__active, nav[role="navigation"] .nav__list a.nav__list__active:hover {
      color: #444; }
    nav[role="navigation"] .nav__list a.nav__list__active:after {
      content: '';
      position: absolute;
      width: 40%;
      height: 4px;
      top: 100%;
      left: 50%;
      background: #444;
      transform: translateX(-50%); }

.project-list {
  margin-top: 1.5em; }
  .project-list:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 40em) {
    .project-list .project-card {
      float: left;
      clear: none;
      text-align: inherit;
      width: 48.5%;
      margin-left: 0%;
      margin-right: 3%; }
      .project-list .project-card:after {
        content: "";
        display: table;
        clear: both; }
      .project-list .project-card:nth-child(n) {
        margin-right: 3%;
        float: left;
        clear: none; }
      .project-list .project-card:nth-child(2n) {
        margin-right: 0%;
        float: right; }
      .project-list .project-card:nth-child(2n + 1) {
        clear: both; } }

.project-card {
  border: 1px solid #d6d6d6;
  padding: 1.5em 1.5em;
  margin-bottom: 1.5em;
  border-radius: 4px;
  font-family: "Lato" !important; }
  .project-card h1, .project-card h2, .project-card h3, .project-card h4, .project-card h5, .project-card h6 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em; }
  .project-card p {
    margin: 0.75em 0 0 0; }
  .project-card .project-card__tags {
    margin: 0.75em 0 0; }
    .project-card .project-card__tags .tag {
      font-size: .8em; }
  .project-card .project-card__links {
    margin: 1em 0 0; }
    .project-card .project-card__links a {
      display: inline-block;
      margin: 0 1em 0 0; }
      .project-card .project-card__links a:last-of-type {
        margin-right: 0; }

.project-post:after {
  content: "";
  display: table;
  clear: both; }

.project-post h1 {
  font-family: "Lato";
  margin-bottom: 0; }

.project-post header time {
  display: block;
  font-style: italic;
  margin-bottom: 0; }

.project-post header .tag-list {
  margin-top: .5em; }

.project-post header i {
  margin-bottom: 0; }

.project-post header .separator {
  display: block;
  margin: 1.5em;
  text-align: center; }

@media screen and (min-width: 64em) {
  .project-post aside {
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%; }
    .project-post aside:after {
      content: "";
      display: table;
      clear: both; }
    .project-post aside:last-child {
      margin-right: 0%; }
  .project-post main {
    float: left;
    clear: none;
    text-align: inherit;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%; }
    .project-post main:after {
      content: "";
      display: table;
      clear: both; }
    .project-post main:last-child {
      margin-right: 0%; } }


/*# sourceMappingURL=style.css.map*/