strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.monolink {
    color: lighten($color-font-body, 20%);

    &:visited {
        color: lighten($color-font-body, 25%);
    }

    &:hover {
        color: lighten($color-font-body, 10%);
    }

    &:active {
        color: lighten($color-font-body, 0%);
    }
}
