{{define "main"}}
    <main class="container container--large">
        <article class="project-post">
            {{$datetime := .Date.Format "2006-01-02"}}
            <h1>{{.Title}}</h1>
            <aside>
                <header>
                    <time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "Jan 02, 2006"}}</time>
                    <ul class="tag-list">
                        {{with .Params.Tags}}
                            {{range .}}
                                <li class="tag">{{.}}</li>
                            {{end}}
                        {{end}}
                    </ul>
                    {{with .Params.ProjectUrl}}
                        <a href="{{.}}" title="Project homepage">
                            <i class="fas fa-code"></i> Homepage
                       </a>
                    {{end}}
                    <span class="separator">&#8729;</span>
                </header>
            </aside>
            <main>
                {{.Content}}
            </main>
        </article>
    </main>
{{end}}
