.mega-brand {
    position: relative;
    margin: 0;
    padding: 2em;
    z-index: -1;
    top: -$nav-height;

    width: 100%;
    height: 560px;
    height: 100vh;
    min-height: 10em;
    max-width: none;

    font-size: .75em;

    overflow: hidden;

    * {
      margin: 0;
    }

    .mega-brand__container {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mega-brand__header {
        text-align: center;

        h1 {
            margin: .5em 0 0;

            font-size: 2.5em;
            font-family: 'Pacifico';
            font-weight: 300;
            white-space: nowrap;
        }
    }

    .mega-brand__content {
    }

    // ----------------
    // Breakoints
    // ----------------

    @include breakpoint(break-2) {
      font-size: .875em;
    }

    @include breakpoint(break-3) {
      font-size: 1em;
    }
}

#avatar {
    width: 7em;
    height: 7em;
    margin: 0 auto;
    border-radius: 1em;
}

#tagline {
    display: inline-block;
    padding: 0;
    margin: .5em 0 0;
    font-size: 1.5em;
    line-height: 1em;
}

#tagline-comments {
    display: none;
    margin: .5em 0 0;
    font-family: map-get($fonts, monospace);
    font-size: 1.5em;
}

@keyframes blink {
  0% { opacity: 1; }
  45% { opacity: 1; }
  50% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}

.typingjs__caret {
  animation: blink 1s linear 0s infinite;
}

ul.social {
    list-style: none;
    margin: .5em 0 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: $magic-number;
        white-space: nowrap;

        a, a:visited {
          color: $color-font-body;
        }
    }
}
