nav[role="navigation"] {
    @include clearfix;

    $nav-line-height: 1.5em;
    $nav-padding: .5em;
    $nav-height: $nav-line-height + $nav-padding * 2;

    position: relative;
    max-width: none;
    margin: 0;

    background: $color-white;
    border-bottom: 1px solid $color-gray;

    * {
        margin: 0;
        padding: 0;
    }

    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #menu-toggle {
        display: inline-block;

        font-size: $nav-line-height;
        line-height: $nav-line-height;
        padding: $nav-padding;

        cursor: pointer;
        background: none;
        border: none;
        outline: none;

        &:hover {
            background: $color-light-gray;
        }

        &:active {
            background: $color-gray;
        }
    }

    .nav__brand {
        display: inline-block;

        font-size: $nav-line-height;
        line-height: $nav-line-height;
        padding: $nav-padding;

        font-family: 'Pacifico';
        text-decoration: none;
        color: #444;
    }

    .nav__list {
        display: block;
        top: 100%;
        left: 0;
        right: 0;

        text-align: center;

        a.nav__list__item {
            position: relative;
            display: inline-block;
            line-height: $nav-height / 2;
            padding: ($nav-height / 2) 1em;

            font-family: map-get($fonts, sans-serif);
            text-decoration: none;

            color: $color-dark-gray;
            transition: color $animation-fast;

            &:hover {
                color: darken($color-dark-gray, 10%);
            }
        }

        a.nav__list__active, a.nav__list__active:hover {
            color: $color-font-body;
        }

        a.nav__list__active:after {
            content: '';
            position: absolute;

            width: 40%;
            height: 4px;

            top: 100%;
            left: 50%;

            background: $color-font-body;
            transform: translateX(-50%);
        }
    }

    // ----------------
    // Breakpoint at most
    // ----------------

    @include breakpoint($max: map-get($breakpoints, break-2) - 1) {
        .nav__list {
            position: absolute;
            background: $color-white;
            border-bottom: 1px solid $color-gray;

            transition: left $animation-normal, right $animation-normal;
            z-index: 10;
        }

        &.nav--hidden .nav__list {
            left: -100%;
            right: 100%;
        }
    }

    // ----------------
    // Breakpoint at least
    // ----------------

    @include breakpoint(break-2) {
        ul, li {
            display: inline-block;
        }

        #menu-toggle {
            float: left;
        }

        .nav__brand {
            float: left;
        }

        .nav__list {
            display: inline-block;
            float: right;
            margin-right: 2em;
            text-align: initial;

            a.nav__list__item {
                margin: 0;
            }
        }

        #menu-toggle {
            display: none;
        }
    }

}
