nav[role="navigation"] {
    @include clearfix;

    $nav-line-height: 1.5em;
    $nav-padding: .5em;
    $nav-height: $nav-line-height + $nav-padding * 2;

    max-width: none;
    margin: 0;
    border-bottom: 1px solid $color-gray;

    * {
        margin: 0;
        padding: 0;
    }

    ul, li {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .nav__brand {
        float: left;
        font-size: $nav-line-height;
        line-height: $nav-line-height;
        padding: $nav-padding;

        font-family: 'Pacifico';
        text-decoration: none;
        color: #444;
    }

    .nav__list {
        float: right;
        margin-right: 2em;

        a.nav__list__item {
            position: relative;
            display: inline-block;
            line-height: $nav-height / 2;
            padding: ($nav-height / 2) 1em;

            font-family: map-get($fonts, sans-serif);
            text-decoration: none;

            color: $color-dark-gray;
            transition: color $animation-fast;

            &:hover {
                color: darken($color-dark-gray, 10%);
            }
        }

        a.nav__list__active, a.nav__list__active:hover {
            color: $color-font-body;
        }

        a.nav__list__active:after {
            content: '';
            position: absolute;

            width: 40%;
            height: 4px;

            top: 100%;
            left: 50%;

            background: $color-font-body;
            transform: translateX(-50%);
        }
    }
}


